.card-list {
  background-color: #fff;
  padding: 0 0;
  margin: 0 0;
  border-radius: 1.5rem 1.5rem;

  @media only screen and (min-width: 640px) {
    background-color: #f6f6f6;
    padding: 3.125rem 3.125rem;
    margin: 2.5rem 0;
  }

  ul {
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
    flex-direction: column;
    display: flex;

    @media only screen and (min-width: 640px) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      column-gap: clamp(1rem, 3em, 3.75rem);
      row-gap: clamp(1rem, 3em, 3.75rem);
    }

    @media only screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      margin-bottom: 1.25rem;
      @media only screen and (min-width: 640px) {
        margin-bottom: 0;
      }
    }
  }
}
