.card {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 10;
  border-radius: 0.625rem 0.625rem;

  img {
    height: auto;

    @media only screen and (min-width: 640px) {
      height: 340px;
    }
  }

  &::before {
    content: "";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
  }

  h3 {
    position: absolute;
    z-index: 1000;
    color: white;
    bottom: 0;
    margin: 0 0;
    padding: 1.25rem 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 24px;
    font-size: 1.125rem;
  }
}
